:root{
  --icon-size: 30px;
  --canvas-color:#ffa732;
}
* {
  box-sizing: border-box;
}
html, body{
  height: 100%;
}
h1{
  font-size: 1.5em;
  vertical-align: bottom;
  font-weight: 900;
  line-height: 1.3em;
  align-self: flex-start;
}
body.debug{
  background:gray;
}
body {
  font:24px/1.4em 'version 4';
  background: #7ceb9f;
  font-weight: 700;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main{
  display: flex;
}
.paused canvas{
  filter:grayscale(1);
  position: relative;
}
.paused main:after{
  width: 100%;
  position: absolute;
  content:'Paused';
  text-align: center;
  color: white;
  font-size: 10em;
  top:50%;
  z-index: 100;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
canvas{
  border-radius: 20px;
  margin-top: 30px;
  transition: all .4s linear;
  width:100%;
  height: 50%;
}
aside, main{
  position: relative;
  max-width: 1500px;
  width:95%;
}
aside .inner{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 200;
  justify-content: space-between;
  display: flex;
}
.box{
  border-radius: 10px;
  padding: 5px 10px;
  border:2px solid black;
  align-self: flex-start;
  width:25%;
}
#infobox{
  background: #d0c2ae;
}
.credits{
  border-top: 2px solid black;
}
#infobox .infoline{
  display: none;
}
#infobox .infoline.visible{
  display: inline;
}
#inventory{
  position: absolute;
  display: flex;
  flex-direction: column;
  top:30px;
  left: 10px;
  width:15%;
}
#inventory p:first-child{
  margin: 0 0 5px 0
}
#inventory p.locked{
  opacity: .5;
  position: relative;
}
#inventory p.locked .name{
  display: none;
}
#help{
  background: #35f531;
}
#levelbox{
  background: #9779fc;
}
.level-link:hover{
  text-decoration: underline;
}
.level-link::before{
  content: "● ";
}
.create-level::before{
  content: "◯ ";
}
p[data-char]{
  /* background: #ffffff77; */
  border-radius: 1em 2px 2px 1em;
  width:3.5em;
  display: flex;
  margin-bottom: 5px;
}
.char{
  border-radius:20px;
  width:34px;
  height: 34px;
  text-align: center;
  padding: 0 .4em;
  background: white;
  top:-2px;
  position: relative;
}
.char:after{
  content: "";
  display: none;
  height: 5px;
  width: 5px;
  background: white;
  top: .60em;
  right: -5px;
  position: absolute;
}
.icon{
  background: #ffffff url('../img/sprites.svg') no-repeat;
  background-size: calc(var(--icon-size)*11);
  width:  var(--icon-size);
  height: var(--icon-size);
  flex: 0 1 auto;
  border-radius: 2px;
  margin-left: 5px;
}
.flat{background-position:            calc(var(--icon-size) * -0) 0}
.down{background-position:            calc(var(--icon-size) * -1) 0}
.gap{background-position:             calc(var(--icon-size) * -2) 0}
.up{background-position:              calc(var(--icon-size) * -3) 0}
.boost{background-position:           calc(var(--icon-size) * -4) 0}
.teleport{background-position:        calc(var(--icon-size) * -5) 0}
.invertedGravity{background-position: calc(var(--icon-size) * -6) 0}
.jump{background-position:            calc(var(--icon-size) * -7) 0}
.bulletTime{background-position:      calc(var(--icon-size) * -8) 0}
.buildUp{background-position:         calc(var(--icon-size) * -9) 0}
.buildDown{background-position:       calc(var(--icon-size) * -10)0}
.box.updated{
  background: white!important;
}

.pause-btn.button{
  position: absolute;
  right:10px;
  bottom:10px;
  width:44px;
  z-index: 300;
  text-align: center;
  padding: 5px 10px;
  border-radius: 20px;
}
.pause-btn.button:hover{background: white;}
.paused .pause-icon, .play-icon{display: none;}
.pause-icon, .paused .play-icon{display: block;}
.button, a{
  cursor: url(../img/pointer.png) 0 0, auto;
}
a{color: inherit;}
