@font-face {
    font-family: 'version 4';
    src: url('hinted-Version_04_50_skeletor_avec.woff2') format('woff2'),
        url('hinted-Version_04_50_skeletor_avec.woff') format('woff'),
        url('hinted-Version_04_50_skeletor_avec.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'version 4';
    src: url('hinted-Version_04_80_skeletor_avec.woff2') format('woff2'),
        url('hinted-Version_04_80_skeletor_avec.woff') format('woff'),
        url('hinted-Version_04_80_skeletor_avec.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'version 3';
    src: url('hinted-Version_03_40_skeletor_avec.woff2') format('woff2'),
        url('hinted-Version_03_40_skeletor_avec.woff') format('woff'),
        url('hinted-Version_03_40_skeletor_avec.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'version 4';
    src: url('hinted-Version_04_77_skeletor_avec.woff2') format('woff2'),
        url('hinted-Version_04_77_skeletor_avec.woff') format('woff'),
        url('hinted-Version_04_77_skeletor_avec.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'version 3';
    src: url('hinted-Version_03_80_skeletor_avec.woff2') format('woff2'),
        url('hinted-Version_03_80_skeletor_avec.woff') format('woff'),
        url('hinted-Version_03_80_skeletor_avec.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
